<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="RolexAuthorizedStore_Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab10"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.customer.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AddCategoryActivity"
            android:exported="false" />

        <activity android:name=".activity.customer.ProductDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".activity.admin.ProductActivity"
            android:exported="true"
            android:label="Product"
            android:theme="@style/Theme.Lab10" />
        <activity
            android:name=".activity.auth.LoginActivity"
            android:exported="true"
            android:label="Category">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>